/* НАВИГАЦИЯ РАБОT СТУДИИ */
.nav-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-btn > li:not(:last-child) {
  margin-right: 8px;
}

.btn {
  display: inline-block;
  padding: 6px 22px;

  border: none;
  outline: none;

  color: var(--secondary-text-color);
  background-color: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.btn:hover,
.btn:focus {
  border-radius: 4px;
  color: var(--bgc-accent-white);
  background-color: var(--accent-color);
}

/* СПИСОК РАБОТ СТУДИИ */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  margin-bottom: 30px;

  background: var(--bgc-accent-white);
  border: 1px solid #eeeeee;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-item > img {
  display: block;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-info {
  padding: 20px 24px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-name {
  margin-bottom: 4px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.card-product {
  font-size: 16px;
  line-height: 1.9;
}

/* .card-description {
  background-color: var(--accent-color);
  color: var(--bgc-accent-white);

  font-size: 18px;
  line-height: 1.6;
} */
